  <%= form_for [recipe, comment] do |f| %>
    <%= render 'layouts/form_errors', form: comment %>
    <div>Rating: (1-5)</div> <div><%= f.text_field :rating %></div>
    <div>Description</div> <div><%= f.text_field :description %></div>
    <%= f.submit data: { disable_with: false }%>
<% end %>