<%= form_for recipe do |f| %>

<%= render 'layouts/form_errors', form: recipe %>

  <div>Recipe Name:</div> <div><%= f.text_field :name %></div>
  <div>Cook Time in Minutes:</div> <div><%= f.text_field :time_in_minutes %></div>
  <div>Instructions:</div> <div><%= f.text_area :instructions %></div>

Add Ingredients:

   <div>
    <%= f.fields_for :recipe_ingredients, @ingredients do |recipe_ingredient| %>
    <div>
      Quantity: <%= recipe_ingredient.text_field :quantity %>
  
    Select Ingredient: <%= recipe_ingredient.collection_select :ingredient_id, Ingredient.order('name ASC').all, :id, :name, include_blank: 'Select Ingredient' %>
    <%= recipe_ingredient.fields_for :ingredient, recipe.ingredients.build do |ingredient| %>
    Or Create New Ingredient: <%= ingredient.text_field :name %>
    <% end %>
    </div>
      <% end %>
   </div>

  <%= f.submit "Submit" %>

<% end %>