<div id="recipe-detail-header">
  <h1><%= recipe.name %></h1>
  <h2><%= recipe.time_in_minutes %> minutes until it's ready | By: <%= link_to recipe.user_name, user_path(recipe.user)%></h2>

<%= render 'favorites/favorited', recipe: recipe%>
</div>

<div id="recipe-detail-ingredients"><%= render 'ingredients/list_ingredients', recipe: recipe %></div>

<div id="recipe-details-bottom">

  <h4><%= recipe.instructions %></h4>

  <%= link_to "Edit", edit_recipe_path(recipe) if logged_in? && current_user.can_edit?(recipe)%>

  <%= link_to "Delete", recipe_path(recipe), method: :delete if logged_in? && current_user.can_delete?(recipe)%>

  <%= link_to "Next", "#", class: "next_recipe", data: { recipeId: recipe.id }%>

</div>

<script id="recipedetailheader-template" type="text/x-handlebars-template">
    <h1>{{name}}</h1>
<h2>{{timeInMinutes}} minutes until it's ready | By: <a href="/users/{{userId}}">{{userName}}</a></h2>
</script>
<script id="recipeingredients-template" type="text/x-handlebars-template">
<ul>  
    {{#each this}}
    <li>{{quantity}} {{name}}</li>
    {{/each}}
</ul>
</script>

<script id="recipedetailsbottom-template" type="text/x-handlebars-template">
<h4>{{instructions}}</h4>

<a class="next_recipe" data-recipeid="{{recipeId}}" href="#">Next</a>
</script>

<script id="recipedetailcomments-template" type="text/x-handlebars-template">
  <div>
    {{#each this}}
      <h3 class="cheading"><a href="/users/{{userId}}">{{userName}}</a> gives {{rating}} stars</h3>
      <p class="cdescription">{{description}}</p>
    {{/each}}
  </div>
</script>

<script id="recipedetailscommentform-template" type="text/x-handlebars-template">
  <div>
    <form class="new_comment" id="new_comment" action="/recipes/{{id}}/comments" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="rmz27HBdgcx+vXUiInd9sW5P4SF35PeVWjNz3xqmu6nVEHMWBuexkVvdd7nPTXqCiz5Xx6vuex1ljgpHRbiWTQ==">
      
      <div>Rating: (1-5)</div> <div><input type="text" name="comment[rating]" id="comment_rating"></div>
      <div>Description</div> <div><input type="text" name="comment[description]" id="comment_description"></div>
      <input type="submit" name="commit" value="Create Comment">
    </form>
  </div>
</script>

<script id="comment-template" type="text/x-handlebars-template">
  <div class="comments">
    <h3 class="cheading"><a href="/users/{{userId}}">{{userName}}</a> gives {{rating}} stars Just Now</h3>
    <p class="cdescription">{{description}}</p>

    <a href="/recipes/{{recipeId}}/comments/{{id}}/edit">Edit</a>

    <a class="dcomment" href="comments/{{id}}">Delete</a>
    <br />
  </div>
 </script>