<h1><%= recipe.name %></h1>
<h2><%= recipe.time_in_minutes %> minutes until it's ready | By: <%= recipe.user_name%></h2>

<%= render 'ingredients/list_ingredients', recipe: recipe %>

<h4><%= recipe.instructions %></h4>


<% if logged_in? && current_user.can_edit?(recipe)%>
  EDIT LINK
<% end %>

<% if logged_in? && current_user.can_delete?(recipe)%>
  DELete LINK
<% end %>