
<% if @recipes.first %>
  <h1>Recipes by: <%= @user.name %></h1>
  <%= render 'recipes/recipes_listed', recipes: @recipes %>
<% end %>
<% if logged_in? && current_user.owns?(params[:id])%>
  <% if @favorites.first %>
    <h1>Here are your favorite Recipes:</h1>
    <%= render 'recipes/favorites_listed', favorites: @favorites %>
  <% end %>
  <h1>Add your own recipe now!</h1>
  <%= render 'recipes/form', recipe: @recipe, ingredient: @ingredients %>
  <h3><%= link_to "Make Other Users Admins", user_admin_index_path(current_user) if current_user.admin?%></h3>
<% end %>
<% if @comments.first %>
  <h1>Recent Comments by: <%= @user.name %></h1>
  <%= render 'comments/list_comments', comments: @comments%>
<% end %>
